body {
  background-color:#269;
  background-image: linear-gradient(white 2px, transparent 2px),
    linear-gradient(90deg, white 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
  background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1, h2, h3, a, p {
  font-family: sans-serif;
}

h1 {
  font-family: 'Bungee', cursive;
  color: #fff;
  text-align: center;
}

div.container {
  background-color: #fff;
  max-width: 700px;
  margin: 0 20px;
  padding: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container div {
  max-width: 600px;
}

.container img {
  width: 48%;
  margin: 0 auto;
}
